{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Accueil / AutoML - Plateforme de Machine Learning Automaisé {% endblock %}
    
{% block custom_style %} {% endblock %} 

{% block content %}
<div class="row">
  <div class="col-12 col-lg-9 d-flex">
    <div class="card w-100">
      <div class="card-header py-3">
        <div class="row g-3">
          <div class="col-lg-4 col-md-6 me-auto">
            <div class="ms-auto position-relative">
              <div
                class="position-absolute top-50 translate-middle-y search-icon px-3"
              >
                <i class="bi bi-search"></i>
              </div>
              <input
                class="form-control ps-5"
                type="text"
                placeholder="search produts"
              />
            </div>
          </div>
          <div class="col-lg-2 col-6 col-md-3">
            <select class="form-select">
              <option>Status</option>
              <option>Active</option>
              <option>Disabled</option>
              <option>Pending</option>
              <option>Show All</option>
            </select>
          </div>
          <div class="col-lg-2 col-6 col-md-3">
            <select class="form-select">
              <option>Show 10</option>
              <option>Show 30</option>
              <option>Show 50</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table align-middle" id="dt-model">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <nav class="float-end" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 d-flex">
    <div class="card w-100">
      <div class="card-header py-3">
        <h5 class="mb-0">Filter by</h5>
      </div>
      <div class="card-body">
        <form class="row g-3">
          <div class="col-12">
            <label class="form-label">Order ID</label>
            <input type="text" class="form-control" placeholder="Order ID" />
          </div>
          <div class="col-12">
            <label class="form-label">Customer</label>
            <input
              type="text"
              class="form-control"
              placeholder="Customer name"
            />
          </div>
          <div class="col-12">
            <label class="form-label">Order Status</label>
            <select class="form-select">
              <option>Published</option>
              <option>Draft</option>
            </select>
          </div>
          <div class="col-12">
            <label class="form-label">Total</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-12">
            <label class="form-label">Date Added</label>
            <input type="date" class="form-control" />
          </div>
          <div class="col-12">
            <label class="form-label">Date Modified</label>
            <input type="date" class="form-control" />
          </div>
          <div class="col-12">
            <div class="d-grid">
              <button class="btn btn-primary">Filter Product</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--end row-->

{% endblock %} {% block custom_javascript %}

<script>

  <script src="{% static 'template/assets/plugins/datatable/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'template/assets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'template/assets/js/table-datatable.js' %}" type="text/javascript"></script>

  $(function () {
 
    $(document).ready(function () {
     
      $("#addModel").click(function () {
        $("#form_model")[0].reset();
        $("#modal_model").modal("show");
        $(".modal-title").html(" Ajouter un nouveau magasin");
        $("#action").val("addApplication");
        $("#save").val("Enregistrer");
      });
    });
  });
</script>



{% endblock %}
