{% comment %} <div id="step-04" class="page-section-stepper container py-2"> {% endcomment %}
    <h2 class="font-weight-light text-center text-muted py-3">Entrainement</h2>
    <form id="form_train_models" method='POST' action="{% url 'train_models'%}">
        {% csrf_token %}
        <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card">
                
                <div class="card-body">
                    <h5 class="mb-2 mb-sm-0">Division des données</h5>
                    <hr>
                    <div class="row p-4  rounded">
                        <div class="col-12 col-lg-4">
                            <label class="form-label">% données de test</label>
                            <input type="number" class="form-control" name='p_test' value="30" placeholder="% ensemble de test">
                        </div>
                        <div class="col-12 col-lg-4">
                            <label class="form-label">% données d'entrainemnt</label>
                            <input type="number" class="form-control" name='p_train' value="70" placeholder="% ensemble d'entrainemnt">
                        </div>
                        <div class="col-12 col-lg-4">
                            <label class="form-label">% données de validation</label>
                            <input type="number" class="form-control" name='p_val' value="0" placeholder="% ensemble de validation">
                        </div>
                    </div>
                    <div class="progress" id="progress_training" style="display:none">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                            <small class="justify-content-center d-flex position-absolute w-100">Veuillez patienter...</small>
                    </div>
                </div>

                {% include './05_resume_entrainement.html' %}

                <div class="card-footer py-3 bg-transparent"> 
                    <div class="d-sm-flex align-items-center">                        
                        <div class="ms-auto">
                            <button type="button" class="btn btn-warning prev-btn">Revenir</button>
                            {% comment %} <button type="button"  class="btn btn-secondary">Annuler</button> {% endcomment %}
                            <input type="submit" id="btn_start_training" class="btn btn-primary" value ="Demarrer" >
                            {% comment %} <a href="{% url  'train_models'  %} " target="_blank"   class="btn btn-primary">Lancer</a> {% endcomment %}
                            <button type="button" class="btn btn-warning next-btn">Poursuivre</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
{% comment %} </div> {% endcomment %}