{% for colonne in features %}
<div class="col-md-12 mt-3">   
    <label for="predict_{{colonne.libelle}}" class="form-label">{{colonne.libelle}}</label>
    {% if colonne.est_categoriel == True %}
        <select class="form-select mb-3" name="{{colonne.libelle}}" id="predict_{{colonne.libelle}}" aria-label="">
            {% for val in colonne.array_valeurs %}
                <option value="{{val}}">{{val}}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Selectionnez une valeur.</div>
    {% endif %}
    {% if colonne.est_categoriel == False %}        
        <input id="predict_{{colonne.libelle}}" type="number" name="{{colonne.libelle}}" class="form-control"  required="required">
        <div class="invalid-feedback">Définissez une valeur.</div>
    {% endif %}
</div>
{% endfor %}