
{% load static %}
<!doctype html>
<html lang="en">
<head>


    {% include "layouts/head.html" %}
    <title> {% block title %} LAIMA AutoML - Plateforme de Machine Learning Automaisé {% endblock %} </title>
    <meta name="description" content="Panneau d'administration de LAIMA AUTOML" />
    
    {% block custom_style %} {% endblock %}

</head>



<body>


  <!--start wrapper-->
  <div class="wrapper">
    <!--start top header-->
    {% include "layouts/header.html" %}
     <!--end top header-->

    <!--start sidebar -->
    {% include "layouts/sidebar.html" %}
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
    <!--breadcrumb-->
      {% include "includes/breadcrumb.html" %}
    <!--end breadcrumb-->
    <div class="">
      {% block content %} {% endblock %}
    </div>
  </main>
    <!--end page main-->

       <!--start overlay-->
        <div class="overlay nav-toggle-icon"></div>
       <!--end overlay-->

        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        
        <!--start switcher-->
        {% include "includes/switcher.html" %}
       <!--end switcher-->

  </div>
  <!--end wrapper-->
 	 {% block page_scripts %} 
		{% include "layouts/footer-script.html" %}
	{% endblock %}

	{% block custom_javascript %} {% endblock %}
  <!--app-->
  <script src="{% static 'template/assets/js/app.js' %}"></script>
  
</body>

</html>