<script type="text/javascript">

	class Request{

		static post(url, data, callback_success, callback_error, method='POST'){
			console.log('Initilization of post request...')
			$.ajax({
				url: url,
				data: data,
				type: method,
				dataType: 'json',
				success: function (res) {
					console.log((callback_success instanceof Function))
					console.log((typeof callback_success === 'function'))
					if(typeof callback_success === 'function')
						callback_success(res)
					return {'status': 200, 'message': res}
				},
				error: function (res){
					if(callback_error instanceof Function)
						callback_error(res)
					return {'status': 500, 'message': res}
				}
			  })
		}

		static post_file(url, data, callback_success, callback_error, method='POST'){
			data['csrfmiddlewaretoken'] = window.CSRF_TOKEN
			$.ajax({
				url: url,
				data: data,
				type: method,
				dataType: 'json',
				success: function (res) {
					if(callback_success instanceof Function)
						callback_success(res)
					return {'status': 200, 'message': res}
				},
				error: function (res){
					if(callback_error instanceof Function)
						callback_error(res)
					return {'status': 500, 'message': res}
				}
			  })
		}
		
		static post_form_file(url, form_id, callback_success, callback_error, method='POST'){

			$.ajax({
				url: url,
				type: method, 
				data: new FormData($("#"+form_id)[0]),
				cache: false, 
				contentType: 'multipart/form-data',
				contentType: false,
				processData: false,
				success: function (res) {
					if(callback_success instanceof Function)
						callback_success(res)
					return {'status': 200, 'message': res}
				},
				error: function (res){
					if(callback_error instanceof Function)
						callback_error(res)
					return {'status': 500, 'message': res}
				}
			})
		}

		static post_session(url, data, callback_success, callback_error, method='POST'){
			data['csrfmiddlewaretoken'] = window.CSRF_TOKEN
			$.ajax({
				url: url,
				data: data,
				type: method,
				dataType: 'json',
				success: function (res) {
					if(callback_success instanceof Function)
						callback_success(res)
					return {'status': 200, 'message': res}
				},
				error: function (res){
					if(callback_error instanceof Function)
						callback_error(res)
					return {'status': 500, 'message': res}
				}
			  })
		}

		static get(url, data){
			$.ajax({
				url: url,
				type: 'GET',
				data: data,
				error: function (xhr) {
					return {'status': 500, 'message': xhr}
				},
				success: function (res) {
					return {'status': 200, 'message': res}
				}
			});
		}
		
	}

	jQuery(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
	
		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	})

	window.CSRF_TOKEN = "{{ csrf_token }}";


	class Notification{

		//https://code.tutsplus.com/tutorials/creating-pretty-popup-messages-using-sweetalert2--cms-30662 
		static talk(type='success', body, position='center-end') {// 'success', 'info', 'warning', 'default', 'error'
		//'top', 'top-start', 'top-end', 'center', 'center-start', 'center-end', 'bottom', 'bottom-start', or 'bottom-end'
			const Toast = Swal.mixin({
				toast: true,
				position: position,
				showConfirmButton: false,
				timer: 4300,
				timerProgressBar: true,
				didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
				}
			})
			
			Toast.fire({
				icon: type,
				title: body
			})
		}

		static sms(type='success', body, position='bottom-right') {// 'success', 'info', 'warning', 'default', 'error'
			const Toast = Swal.mixin({
				toast: true,
				position: 'top-end',
				showConfirmButton: false,
				timer: 4300,
				timerProgressBar: true,
				didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
				}
			})
			
			Toast.fire({
				position: position,
				icon: type,
				title: body
			})
		}
	
		static alert(type='success', title, body=undefined){
			Swal.fire(
			  {icon: type,
			  title: title,
			  text: body,}
			)
		}

		static ask(type='warning', title, body, callback_yess, callback_no){
			console.log('---------        ask        ---------')
			swal({
				title: title,
				text: body,
				icon: type,
				buttons: [
				  'Non, annulez-la!',
				  'Oui, je suis sûr!'
				],
				dangerMode: true,
			  }).then(function(isConfirm) {
				if (isConfirm) {
					callback_yess()
				} else {
					callback_no()
				}
			  })
		}
		  
	}
	
</script>