{% load static%}

<!-- Vendor JS -->
<script src="{% static 'template/js/vendors.min.js' %}"></script>
<script src="{% static 'template/js/pages/chat-popup.js' %}"></script>
<script src="{% static 'template/assets/icons/feather-icons/feather.min.js' %}"></script>	
<script src="{% static 'template/assets/vendor_components/datatable/datatables.min.js' %}"></script>

<!-- EduAdmin App -->
<script src="{% static 'template/js/template.js' %}"></script>    
    
<script src="{% static 'template/js/pages/data-table.js' %}"></script>
<script src="{% static 'template/js/htmx.min.js' %}"></script>
<script src="{% static 'template/assets/vendor_components/sweetalert2/sweetalert2.min.js' %}"></script>
