{% load static %}

<!-- vector map CSS -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'template/images/favicon.ico'%}">


<!-- Vendors Style-->
<link rel="stylesheet" href="{% static 'template/css/vendors_css.css'%}">
    
<!-- Style-->  
<link rel="stylesheet" href="{% static 'template/css/style.css'%}">
<link rel="stylesheet" href="{% static 'template/css/skin_color.css'%}">	
<link rel="stylesheet" href="{% static 'template/assets/vendor_components/sweetalert2/sweetalert2.min.css'%}">	

