{% load static %}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'template/assets/images/favicon-32x32.png'%}" type="image/png" />
<!--plugins-->
<link href="{% static 'template/assets/plugins/simplebar/css/simplebar.css'%}" rel="stylesheet" />
<link href="{% static 'template/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css'%}" rel="stylesheet" />
<link href="{% static 'template/assets/plugins/metismenu/css/metisMenu.min.css'%}" rel="stylesheet" />
<!-- Bootstrap CSS -->
<link href="{% static 'template/assets/css/bootstrap.min.css'%}" rel="stylesheet" />
<link href="{% static 'template/assets/css/bootstrap-extended.css'%}" rel="stylesheet" />
<link href="{% static 'template/assets/css/style.css'%}" rel="stylesheet" />
<link href="{% static 'template/assets/css/icons.css'%}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'template/assets/npm/bootstrap-icons_1.3.0/font/bootstrap-icons.css'%}" />

<!-- loader-->
<link href="{% static 'template/assets/css/pace.min.css'%}" rel="stylesheet" />

<!--Theme Styles-->
<link href="assets/css/dark-theme.css'%}" rel="stylesheet" />
<link href="assets/css/light-theme.css'%}" rel="stylesheet" />
<link href="assets/css/semi-dark.css'%}" rel="stylesheet" />
<link href="{% static 'template/assets/css/header-colors.css'%}" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'template/{% static 'template/assets/vendor_components/sweetalert2/sweetalert2.min.css'%}">