{% load static %}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'template/assets/images/favicon-32x32.png'%}" type="image/png">
<!--plugins-->
<link href="{% static 'template/assets/plugins/simplebar/css/simplebar.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/plugins/metismenu/css/metisMenu.min.css'%}" type="text/css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="{% static 'template/assets/css/bootstrap.min.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/css/bootstrap-extended.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/css/style.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/css/icons.css'%}" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet" >
<link rel="stylesheet" href="{% static 'template/assets/npm/bootstrap-icons_1.3.0/font/bootstrap-icons.css'%}" >

<!-- loader-->
<link href="{% static 'template/assets/css/pace.min.css'%}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'template/assets/plugins/sweetalert2/sweetalert2.min.css'%}">	


<!--Theme Styles-->
<link href="{% static 'template/assets/css/dark-theme.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/css/light-theme.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/css/semi-dark.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'template/assets/css/header-colors.css'%}" type="text/css" rel="stylesheet">
