<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}

<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'template/images/favicon.ico'%}">

    <title>VOICE IA - Creation de Compte </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'template/css/vendors_css.css'%}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'template/css/style.css'%}">
	<link rel="stylesheet" href="{% static 'template/css/skin_color.css'%}">	

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url(static/template/images/auth-bg/bg-2.jpg)">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			
			<div class="col-12">
				<div class="row justify-content-center g-0">
					<div class="col-lg-5 col-md-5 col-12">
						<div class="bg-white rounded10 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h2 class="text-primary">{{message}}</h2>
								{% comment %} <h2 class="text-primary">{{message_bienvenue | join ', '}}</h2> {% endcomment %}
								<p class="mb-0">Création d'un utilisateur</p>							
							</div>
							<div class="p-40">
								<form method="post" action="{% url 'register' %}" >
								{% comment %} <form method="post" action="{% url 'register' %}"  autocomplete='off'> {% endcomment %}
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group mb-3">
											{% comment %} {{ form.username.errors }}
											<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
											{% url 'check-username' as check_username  %}
											{% if check_username %}
												{% render_field form.username class="form-control ps-15 bg-transparent" hx-post=check_username hx-swap="outerhtml" hx-trigger="keyup changed" hx-target="#username-error" %}
											{% endif %} {% endcomment %}
											<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
											<input type="text" class="form-control ps-15 bg-transparent" hx-post="{% url 'check-username' %}" hx-swap="outerhtml" hx-trigger="keyup changed" hx-target="#username-error" placeholder="Nom d'utilidateur" name="username">
										</div>
										<div id="username-error"></div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
											<input type="text" class="form-control ps-15 bg-transparent" placeholder="Nom d'utilidateur" name="nom">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text bg-transparent"><i class="ti-email"></i></span>
											<input type="email" class="form-control ps-15 bg-transparent" placeholder="Email" name="email" required> 
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
											<input type="tel" class="form-control ps-15 bg-transparent" placeholder="Numéro de téléphone" name="telephone">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text bg-transparent"><i class="ti-lock"></i></span>
											<input type="password" class="form-control ps-15 bg-transparent" placeholder="Password" name="passw1" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text bg-transparent"><i class="ti-lock"></i></span>
											<input type="password" class="form-control ps-15 bg-transparent" placeholder="Retype Password"  name="passw2" required>
										</div>
									</div>
									  <div class="row">
										<div class="col-12">
										  <div class="checkbox">
											<input type="checkbox" id="basic_checkbox_1" >
											<label for="basic_checkbox_1">Je suis d'accord avec les <a href="#" class="text-warning"><b>termes </b></a> de confidentialité et d'utilisation des données.</label>
										  </div>
										</div>
										<!-- /.col -->
										<div class="col-12 text-center">
										  <button type="submit" class="btn btn-info margin-top-10">Je m'inscris</button>
										</div>
										<!-- /.col -->
									  </div>
								</form>				
								<div class="text-center">
									<p class="mt-15 mb-0">Avez vous déja un compte ?<a href="{% url 'login' %}" class="text-danger ms-5"> Se connecter</a></p>
								</div>
							</div>
						</div>								

						<div class="text-center">
						  <p class="mt-20 text-white">- S'inscrire via -</p>
						  <p class="gap-items-2 mb-20">
							  <a class="btn btn-social-icon btn-round btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
							  <a class="btn btn-social-icon btn-round btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
							  <a class="btn btn-social-icon btn-round btn-instagram" href="#"><i class="fa fa-instagram"></i></a>
							</p>	
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>


	<!-- Vendor JS -->
	<script src="{% static 'template/js/vendors.min.js'%}"></script>
	<script src="{% static 'template/js/pages/chat-popup.js'%}"></script>
    <script src="{% static 'template/assets/icons/feather-icons/feather.min.js'%}"></script>	
	<script src="{% static 'template/js/htmx.min.js' %}"></script>
	
	
</body>
</html>
