{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Gestion des gestionnaires {% endblock %}

{% block content %} 

	  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">Liste des Groupes</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Type </li>
								<li class="breadcrumb-item active" aria-current="page">Gestionnaire</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			  <div class="col-12">
				<div class="box">
				  <div class="box-body">
					<div class="table-responsive">
						<table id="productorder" class="table table-hover no-wrap product-order" data-page-size="10">
							<thead>
								<tr>
									 <th>name</th>
									 
								</tr>
							</thead>
							<tbody>
                                {%for g in group %}
								<tr>
									<td>Maical Roy</td>
								</tr>
                                {%endfor%}

							</tbody>						
						</table>
					</div>
				  </div>
				</div>
			  </div>		  
		  </div>


		<!-- THE MODAL WE WILL BE USING -->
		<div class="modal fade" id="modal-gestionnaire">
			<div class="modal-dialog">
				<div class="modal-content">
				
				</div>
			</div>
		</div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
 
{% endblock %}



