{% extends 'layouts/base_with_breadcrumb.html' %}
{% load static %}

{% block title %} AutoML - Plateforme du Machine Learning', Automaisé {% endblock %}

{% block custom_style %} 
  <link href="{% static 'template/assets/plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
  <link href="{% static 'template/assets/plugins/input-tags/css/tagsinput.css' %}" rel="stylesheet" />
  <link href="{% static 'template/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'template/assets/plugins/select2/css/select2-bootstrap4.css' %}" rel="stylesheet" />  
  <style>
	.form-control-xs {
		height: calc(1em + .375rem + 2px) !important;
		padding: .125rem .25rem !important;
		font-size: .75rem !important;
		line-height: 1.5;
		border-radius: .2rem;
	}
</style>
{% endblock %} 

{% block content %} 
<div class="">
	<div class="">
		<div id="step-01" class="page-section-stepper container py-2">
			<h2 class="font-weight-light text-center text-muted py-3">Informations générales</h2>
			
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card">
						<div class="card-header py-3 bg-transparent"> 
							<div class="d-sm-flex align-items-center">
							<h5 class="mb-2 mb-sm-0">Identification</h5>
							<div class="ms-auto">
								<button id="btn_reset_form_info_projet" type="button" class="btn btn-secondary">Annuler</button>
								<button id="btn_submit_form_info_projet" type="button" class="btn btn-primary">Enregistrer les informations du projet</button>
							</div>
							</div>
						</div>
						<div class="card-body">
							<form id="form_info_projet">
								{% csrf_token %}
								<div class="row g-3">
									<div class="col-12 col-lg-8">
										<div class="card shadow-none bg-light border">
											<div class="card-body">
											<form class="row g-3">
												<input type="hidden" class="" style="display: none" id='projet_id' name="projet_id" value="{% if id is None %}0{% else %}{{ id }}{% endif %}" />
												<div class="col-12">
												<label class="form-label">Titre</label>
												<input type="text" class="form-control" id='projet_titre' name="titre" placeholder="titre du projet">
												</div>
												<div class="col-12">
													<label class="form-label">Mots clés</label>
													<input type="text" id='projet_nots_cles' name="mots_cles" class="form-control" value="Regression, School, Furniture"  data-role="tagsinput" placeholder="mots clés">
												</div>
												<div class="col-12">
												<label class="form-label">Description </label>
												<textarea class="form-control" id='projet_description' name="description" placeholder="description du projet" rows="4" cols="4"></textarea>
												</div>
											</form>
											</div>
										</div>
									</div>

									<div class="col-12 col-lg-4">
										<div class="card shadow-none bg-light border">
											<div class="card-body">
												<div class="row g-3">
													<div class="col-12">
														<label class="form-label">Status</label>
														<select class="form-select" name="statut" id="statut">
															{% for key, value in status%}
																<option value="{{ key }}" selected>{{ value }}</option>
															{% endfor %}
														</select>
													</div>
													<div class="col-12">
														<label class="form-label">Image d'intenfication</label>
														<input class="form-control" id="image" name="image" type="file">
													</div>
													<div class="col-12"  style="text-align: center;">
														<img src="{% static 'template/assets/images/upload.png' %}" class="img-fluid mb-3" style="max-height:130px" alt="">
													</div>
												</div><!--end row-->
											</div>
										</div>  
									</div>

								</div><!--end row-->
							</form><!--end row-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="step-02" class="page-section-stepper container py-2">
			<h4 class="font-weight-light text-center text-muted py-3">Acquisition & Prétraitement des données</h4>
			{% comment %} <h4 class="font-weight-light text-center text-muted py-3">Chargement des données  et Stratégies de pretraitement</h4> {% endcomment %}
			
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card">
						<div class="card-header py-3 bg-transparent"> 
							<div class="d-sm-flex align-items-center">
							<h5 class="mb-2 mb-sm-0">Chargement des données</h5>
							<div class="ms-auto">
								<button type="button" class="btn btn-secondary">Annuler</button>
								<button type="button" id="btn_save_info_preprocessing" class="btn btn-primary">Mettre à jour</button>
							</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row g-3">
								<form class="form" enctype="multipart/form-data" method="POST" action="">
									{% csrf_token %}
									<label class="form-label" for="file2upload">selectionnez un fichier (xls, xlsx, csv, npy)</label>
									<div class="input-group">
										<input type="file" class="form-control" id="file2upload" placeholder="Choisir un jeu de données." aria-describedby="file2upload" aria-label="Upload"  accept=".xlsx, .xls, .csv">
										<button class="btn btn-primary" type="submit" id="submit_upload_file">Charger votre fichier</button>
									</div>
								</form>
								<div id="uploaded_files"></div>
							</div><!--end row-->
							<hr>
							<br>
							<div class="card-body">
								<div class="table-responsive">
									<table id="dataset" class="table table-striped table-bordered" style="width:100%">
										<thead>
											<tr id="filters">
											</tr>
										</thead>
										<tbody>
										</tbody>
										<tfoot>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h4 class="font-weight-light text-center text-muted py-3">Selection des varaiables / Diagramme de repartition des varaibles</h4>
			
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card">
						<div class="card-header py-3 bg-transparent"> 
							<div class="d-sm-flex align-items-center">
								<h5 class="mb-2 mb-sm-0">Progression</h5>
								<div class="ms-auto">
									<button type="button" class="btn btn-secondary">Annuller</button>
									<button type="button" id="btn_save_selection_variable" class="btn btn-primary">Enregistrer les variables</button>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="p-4  rounded">

								<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4">
									<div class="row">
										<div class="card radius-10">
										<div class="card-body">
											<div class="d-flex align-items-center" id="chart31"></div>
											<hr class="my-2">
											<small class="mb-0"><i class="bi bi-arrow-up"></i> <span>+16.5% from last week</span></small>
										</div>
										</div>
									</div>
									<div class="row">
										<div class="card radius-10">
										<div class="card-body">
											<div class="d-flex align-items-center" id="chart31"></div>
											<hr class="my-2">
											<small class="mb-0"><i class="bi bi-arrow-up"></i> <span>+16.5% from last week</span></small>
										</div>
										</div>
									</div>
									<div class="row">
										<div class="card radius-10">
										<div class="card-body">
											<div class="d-flex align-items-center" id="chart31"></div>
											<hr class="my-2">
											<small class="mb-0"><i class="bi bi-arrow-up"></i> <span>+16.5% from last week</span></small>
										</div>
										</div>
									</div>
									<div class="row">
										<div class="card radius-10">
										<div class="card-body">
											<div class="d-flex align-items-center" id="chart31"></div>
											<hr class="my-2">
											<small class="mb-0"><i class="bi bi-arrow-up"></i> <span>+16.5% from last week</span></small>
										</div>
										</div>
									</div>
									<div class="row">
										<div class="card radius-10">
										<div class="card-body">
											<div class="d-flex align-items-center" id="chart31"></div>
											<hr class="my-2">
											<small class="mb-0"><i class="bi bi-arrow-up"></i> <span>+16.5% from last week</span></small>
										</div>
										</div>
									</div>
									<div class="row">
										<div class="card radius-10">
										<div class="card-body">
											<div class="d-flex align-items-center" id="chart31"></div>
											<hr class="my-2">
											<small class="mb-0"><i class="bi bi-arrow-up"></i> <span>+16.5% from last week</span></small>
										</div>
										</div>
									</div>
								</div><!--end row-->
							
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		{% comment %} <div id="step-03" class="page-section-stepper container py-2">
			<h2 class="font-weight-light text-center text-muted py-3">Choix/Selection de la tache</h2>
			
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card">
					<div class="card-body">
						<hr>
						<br>
						<div class="card-body">
							
						</div>
					</div>
					</div>
				</div>
			</div>

		</div> {% endcomment %}
		<div id="step-04" class="page-section-stepper container py-2">
			<h2 class="font-weight-light text-center text-muted py-3">Choix des alorithmes</h2>
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card">
						<div class="card-header py-3 bg-transparent"> 
							<div class="d-sm-flex align-items-center">
								<h5 class="mb-2 mb-sm-0">Algorithimes d'entrainemnt</h5>
								<div class="ms-auto">
									<button type="button" class="btn btn-secondary">Annuller</button>
									<button type="button" id="btn_save_selection_algorithm" class="btn btn-primary">Mettre à jour</button>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="p-4  rounded">
								<form class="row g-3 needs-validation" novalidate="">
									<div class="col-md-4">
										<label for="select-type_apprentissage" class="form-label">Type type_apprentissage</label>
										<select id="select-type_apprentissage"  class='form-select'>
											<option selected="" disabled="" value="">...</option>
											{% for item in type_apprentissages %}
											<option  value="{{item}}">{{item}}</option>
											{% endfor %}
										</select>
										<div class="invalid-feedback">Selectionnez une taches.</div>
									</div>
									<div class="col-md-4">
										<label for="select-tache" class="form-label">Tache de Machine Learning</label>
										<select id="select-tache"  name="tache" class='form-select'>
										
										</select>
										<div class="invalid-feedback">Selectionnez une taches.</div>
									</div>
									<div class="col-md-4">
										<label for="select-metrique" class="form-label">Metrique</label>
										<select id="select-metrique"  name="metrique" class='form-select'>
											
										</select>
										<div class="invalid-feedback">Selectionnez une metriques.</div>
									</div>
									<div class="col-md-12">
										<label for="select-algorithme" class="form-label">Algorithme(s)</label>
										<select class="multiple-select" name="algorithme" data-placeholder="Choose anything" multiple="multiple" required="" id="select-algorithme" required="">
										</select>
										<div class="invalid-feedback">Selectionnez un ou plusieurs algorithmes.</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<div id="step-05" class="page-section-stepper container py-2">
			<h2 class="font-weight-light text-center text-muted py-3">Entrainement</h2>
			<form method='POST' action="{% url 'train_models'%}">
				{% csrf_token %}
				<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card">
					<div class="card-header py-3 bg-transparent"> 
						<div class="d-sm-flex align-items-center">
						<h5 class="mb-2 mb-sm-0">Progression</h5>
						
						<div class="ms-auto">
							<button type="button"  class="btn btn-secondary">Annuler</button>
							<input type="submit" class="btn btn-primary" value ="Demarrer" >
						</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row p-4  rounded">
							<div class="col-12 col-lg-4">
								<label class="form-label">% données de test</label>
								<input type="number" class="form-control" name='p_test' placeholder="% ensemble de test">
							</div>
							<div class="col-12 col-lg-4">
								<label class="form-label">% données d'entrainemnt</label>
								<input type="number" class="form-control" name='p_train' placeholder="% ensemble d'entrainemnt">
							</div>
							<div class="col-12 col-lg-4">
								<label class="form-label">% données de validation</label>
								<input type="number" class="form-control" name='p_val' placeholder="% ensemble de validation">
							</div>
						</div>
						<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
					</div>
					</div>
				</div>
				</div>
			</form>
			<!--/row-->
		</div>
		<div id="step-06" class="page-section-stepper container py-2">
			<h2 class="font-weight-light text-center text-muted py-3">Resultats d'entrainements </h2>
			<div class="col-lg-12 mx-auto">
				<div class="card">
					<div class="card-header py-3 bg-transparent"> 
						<div class="d-sm-flex align-items-center">
					</div>
					<div class="card row">
						<div class="card-body">
							<div class="d-flex align-items-center">
							   <h5 class="mb-0">Resumé de l'entrainement</h5>
								<form class="ms-auto position-relative">
								  <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
								  <input class="form-control ps-5" type="text" placeholder="search">
								</form>
							</div>
							<div class="table-responsive mt-3">
							  <table class="table align-middle mb-0">
								<thead class="table-light">
								 <tr>
								   <th>#ID</th>
								   <th>code</th>
								   <th>Algorithme</th>
								   <th>%Precision</th>
								 
								   <th>%</th>
								   <th>Date</th>
								   <th>Famille</th>
								   <th>voir</th>
								   <th>valider</th>
								 </tr>
								 </thead>
								 <tbody>
									 {% for model in models %}
									<tr>
										<td>{{model.id}}</td>
										<td>{{model.code}}</td>
										<td>{{model.algo}}</td>
										
										<td><div class="progress">
											<div class="progress-bar" role="progressbar" style="width: {{model.precision}}%;" aria-valuenow={{model.precision}} aria-valuemin="0" aria-valuemax="100">25%</div>
										  </div>
										</td>
										<td>$1250.00</td>
										<td>03 Feb 2020</td>
								
										<td>{{model.famille}}</td> 
										<td><a href="" class="btn btn-secondary">view</a></td>
									<td><a href="" class="btn btn-success">valider</a></td>
									</tr>
									
									{% endfor %}
									
								  </tbody>
								</table>
							</div>
						  </div>
					</div>
				</div>
			</div>
			
			<!--/row-->
		</div>
		<div id="step-07" class="page-section-stepper container py-2">
			<h2 class="font-weight-light text-center text-muted py-3">Prédiction d'un modele</h2>
			
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<div class="card">
						<div class="card-header py-3 bg-transparent"> 
							<div class="d-sm-flex align-items-center">
							<h5 class="mb-2 mb-sm-0">Evaluation d'un modele</h5>
						</div>
						<div class="card-body">
							<div class="p-4 border rounded">
								<form class="row g-3 needs-validation" novalidate="">
									<div class="col-md-3">
										<label for="not_defined" class="form-label">Modele</label>
										<select class="form-select" id="not_defined" required="">
											<option selected="" disabled="" value="">regression...</option>
											<option>...</option>
										</select>
										<div class="invalid-feedback">Selectionnez un algorothme.</div>
									</div>
									<div class="col-md-6">
										<label for="validationCustom03" class="form-label">Valeur</label>
										<input type="text" class="form-control" id="validationCustom03" required="">
										<div class="invalid-feedback">Définissez une valeur.</div>
									</div>
									
									<div class="col-md-3">
										<label for="validationCustom03" class="form-label">&nbsp;&nbsp;&nbsp;</label>
										<input type="submit" class="form-control btn btn-primary" value="Prédiction" id="validationCustom03" >
									</div>
								
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	
	</div>
</div>
<div id="script"></div>
{% endblock %}

{% block custom_javascript %}
<script src="{% static 'template/assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script> 
	{% comment %} $('#select-algorithme').empty().trigger("change") {% endcomment %}

	var TACHE_ALGORITHMES = {{ tache_algorithmes|safe }} 
	var METRIQUES = {{ metriques|safe }} 
	var TYPE_APPRPENTISSAGE_TACHES = {{ type_apprentissage_taches|safe }} 

	$( document ).ready(function() {
		$("#select-type_apprentissage").val($("#select-type_apprentissage option:first").val())
		$('#select-type_apprentissage').trigger("change")

		$('#select-type_apprentissage').on('change', function () {
			$('#select-tache').empty().trigger("change")
			let collection = TYPE_APPRPENTISSAGE_TACHES[$(this).val()]
			for(let key in collection){
				let data = collection[key]
				$('#select-tache').append(new Option(data, data, false, false))//.trigger('change');
			}
			$('#select-tache').val($("#select-tache option:first").val()).trigger("change")
		})

		$('#select-tache').on('change', function () {
			let tache = $(this).val()
			$('#select-algorithme').empty().trigger("change")
			$('#select-metrique').empty().trigger("change")
			let collection = TACHE_ALGORITHMES[tache]
			for(let key in collection){
				let item = collection[key]
				if(item.type_apprentissage == $('#select-type_apprentissage').val())
				{
					$('#select-algorithme').append(new Option(item.label, item.code, false, false))//.trigger('change');
				}
			}
			for(let key in METRIQUES){
				let item = METRIQUES[key]
				if(item.task == tache)
				{
					$('#select-metrique').append(new Option(item.label, item.code, false, false))//.trigger('change');
				}
			}
			$('#select-metrique').val($("#select-metrique option:first").val()).trigger("change")
		})
	})

</script>

<script src="{% static 'template/assets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'template/assets/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
<script src="{% static 'template/assets/plugins/input-tags/js/tagsinput.js' %}"></script>
<script src="{% static 'template/assets/plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'template/assets/js/form-select2.js' %}"></script>
	
{% comment %} <script src="{% static 'template/assets/plugins/apexcharts-bundle/js/apex-custom.js' %}"></script> {% endcomment %}

<script>

	$(document).ready(function() {
		$('.inner-scrool-section a').trigger( "click" );
		$('.inner-scrool-section').trigger( "click" );
		$('a[href*=\\#step-0]').bind('click', function(e) {
				e.preventDefault()
				var target = $(this).attr("href");
				$('html, body').stop().animate({
						scrollTop: $(target).offset().top
				}, 600, function() {
					location.hash = target; 
				});
				return false;
		});
	});

	$(window).scroll(function() {
			var scrollDistance = $(window).scrollTop();
			$('.page-section-stepper').each(function(i) {
					if ($(this).position().top <= scrollDistance) {
							$('.inner-scrool-section li.mm-active').removeClass('mm-active')
							$('.inner-scrool-section li').eq(i).addClass('mm-active')
					}
			});
	}).scroll();

	window.onload = function () { 
		$('ul.metismenu li.mm-active').removeClass('mm-active')
		$('.inner-scrool-section ul.mm-collapse').addClass('mm-show')
		$('.inner-scrool-section').addClass('mm-active')
		$('.inner-scrool-section li').eq(0).addClass('mm-active')
	}

	$(window).bind('beforeunload', function(e){
		e = e || window.event;
		response = Request.post("{% url 'clean_session_projet_creation' %}", {})
		console.log(response)
		// For IE and Firefox prior to version 4  
		if (e) {
			e.returnValue = 'Sure?';
		}
		return e.returnValue;
	})
	console.log('end')
</script>

{% include 'pages/projets/utils_script.html' %}
{% include 'pages/projets/file_upload_script.html' %}
<div id="test"></div>


{% endblock %}

