{% load static %}
{% comment %} load settinf constant in template max_length {% endcomment %}
<script>
	function findLongestWord(str) {
		return str.length;
	}

	function add_space(length, max){
		return str + new Array(max - le + 1).join(' ')
	}

	class Notification{
		static success(title, body){
		  Swal.fire(
			{icon: 'success',
			title: title,
			text: body,}
		  )
		}
	
		static error(title, body){
		  Swal.fire({
			icon: 'error',
			title: title,
			text: body,
		  })
		}
	
	
	}
	
	
	class FileUpload {
		constructor(input) {
			this.input = input
			this.max_length = 1024 * 1024 * 10; // 10 mb
		}
	
		upload() {
			this.create_progress_bar();
			this.initFileUpload();
		}
		
		initFileUpload() {
			this.file = this.input.files[0];
			this.upload_file(0, null);
		}

		upload_file(start, path) {
			var end;
			var self = this;
			var chemin = path;
			var formData = new FormData();
			var nextChunk = start + this.max_length + 1;
			var currentChunk = this.file.slice(start, nextChunk);
			var uploadedChunk = start + currentChunk.size
			if (uploadedChunk >= this.file.size) {
				end = 1;
			} else {
				end = 0;
			}
			formData.append('file', currentChunk);
			formData.append('filename', this.file.name);
			formData.append('end', end);
			formData.append('path', chemin);
			formData.append('nextSlice', nextChunk);
			$('.filename').text(this.file.name)
			$('.textbox').text("Uploading file")
			$.ajaxSetup({
			// make sure to send the header
				headers: {
					"X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
				}
			});
			$.ajax({
				xhr: function () {
					var xhr = new XMLHttpRequest();
					xhr.upload.addEventListener('progress', function (e) {
						if (e.lengthComputable) {
							if (self.file.size < self.max_length) {
								var percent = Math.round((e.loaded / e.total) * 100);
							} else {
								var percent = Math.round((uploadedChunk / self.file.size) * 100);
							}
							$('.progress-bar').css('width', percent + '%')
							$('.progress-bar').text(percent + '%')
						}
					});
					return xhr;
				},
	
				url: "{% url 'upload_dataset' %}",
				type: 'POST',
				dataType: 'json',
				cache: false,
				processData: false,
				contentType: false,
				data: formData,
				error: function (xhr) {
					console.log('BAD')
					alert(xhr.statusText);
				},
				success: function (res) {
					if (nextChunk < self.file.size) {
						// upload file in chunks
						chemin = res.chemin
						self.upload_file(nextChunk, chemin);
					} else {
						console.log(res)
						let df = JSON.parse(res.df)
						FileUpload.init_table(df['data'], df['columns'])
						$('.textbox').text(res.msg);
					}
				}
			});
		};

		create_progress_bar() {
			var progress = `<div class="file-icon">
								<i class="fa fa-file-o" aria-hidden="true"></i>
							</div>
							<div class="file-details">
								<p class="filename"></p>
								<small class="textbox"></small>
								<div class="progress" style="margin-top: 5px;">
									<div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
									</div>
								</div>
							</div>`
			document.getElementById('uploaded_files').innerHTML = progress
		}

		static init_table(data, columns){
			 if (window.table !== null) {
				window.table.destroy();
				window.table = null;
				$("#dataset tbody").empty();
			  }
							
				const header = $('#dataset #filters');
				const footer = $('#dataset tfoot');
			  	header.empty();
			  	footer.empty();
				console.log(columns)

				let tr = document.createElement('tr'); //column

				for (var j = 0; j < columns.length; j++) {
					let th = document.createElement('th'); //column
					let text = document.createTextNode(columns[j]); //cell
					th.appendChild(text);
					tr.appendChild(th);
					header.append(th.cloneNode(true));
				}
				footer.append(tr);
               
				window.table = $('#dataset').DataTable({
					responsive: true,
					ordering: false,
					initComplete: function () {
						this.api().columns().every(function () {
							var column = this;
				
							var select = $('<br><select class="form-control-xs"><option value=""></option></select>')
								.appendTo($("#filters").find("th").eq(column.index()))
								.on('change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
								$(this).val());                                     
							});
				
							console.log('select');
							console.log(select);
							$(select).append('<option value="Entier"> Entier </option>')
							$(select).append('<option value="String"> Chaine &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </option>')
							$(select).append('<option value="Float"> Réel</option>')
				
						});
						this.api().columns().every(function () {
							var column = this;
				
							var select = $('<br><select class="form-control-xs"><option value=""></option></select>')
								.appendTo($("#filters").find("th").eq(column.index()))
								.on('change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
								$(this).val());                                     
							});
				
							$(select).append('<option value="Entier">Categoriel</option>')
							$(select).append('<option value="String">Discret</option>')
				
						});
						this.api().columns().every(function () {
							var column = this;
				
							var select = $('<br><select class="form-control-xs"><option value=""></option></select>')
								.appendTo($("#filters").find("th").eq(column.index()))
								.on('change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
								$(this).val());                                     
							});
				
							$(select).append('<option value="Entier">SimpleImputer</option>')
							$(select).append('<option value="String">KNNImputer</option>')
				
						});
						this.api().columns().every(function () {
							var column = this;
				
							var select = $('<br><select class="form-control-xs"><option value=""></option></select>')
								.appendTo($("#filters").find("th").eq(column.index()))
								.on('change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
								$(this).val());                                     
							});
				
							$(select).append('<option value="Standard Scaller">Standard Scalle</option>')
							$(select).append('<option value="String">Robust Scaller</option>')
				
						});
						this.api().columns().every(function () {
							var column = this;
				
							var select = $('<br><select class="form-control-xs"><option value=""></option></select>')
								.appendTo($("#filters").find("th").eq(column.index()))
								.on('change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
								$(this).val());                                     
							});
				
							$(select).append('<option value="Entier">Label Encoding</option>')
							$(select).append('<option value="String">Ordinal Encoding</option>')
				
						});
					},
					data: data,
					{% comment %} columns: columns {% endcomment %}
				});

			  
		}
	
	}
	var table = null;
		
	(function ($) {

		$('#submit_upload_file').on('click', (event) => {
			event.preventDefault();
			var uploader = new FileUpload(document.querySelector('#file2upload'))
			uploader.upload();
		});

	


	})(jQuery);
</script>