{% extends 'layouts/base_with_breadcrumb.html' %}
{% load static %}

{% block title %} AutoML - Plateforme du Machine Learning', Automaisé {% endblock %}

{% block custom_style %} {% endblock %} 

{% block content %} 
<div class="card">
  <div class="card-header py-3"> 
  <div class="row g-3 align-items-center">
    <div class="col-lg-3 col-md-6 me-auto">
      <div class="ms-auto position-relative">
        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
        <input class="form-control ps-5" type="text" placeholder="search produts">
      </div>
    </div>
    <div class="col-lg-2 col-6 col-md-3">
      <select class="form-select">
        <option>All category</option>
        <option>Fashion</option>
        <option>Electronics</option>
        <option>Furniture</option>
        <option>Sports</option>
      </select>
    </div>
    <div class="col-lg-2 col-6 col-md-3">
      <select class="form-select">
        <option>Latest added</option>
        <option>Cheap first</option>
        <option>Most viewed</option>
      </select>
    </div>
  </div>
  </div>
  <div class="card-body">
    <div class="product-grid">
      <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-3">
        {% for projet in projets %}
        <div class="col projet">
          <div class="card border shadow-none mb-0">
            <div class="card-body text-center">
              <img src="/media/{{ projet.image }}" class="img-fluid mb-3" alt=""/> 
              <h6 class="product-title">{{projet.titre}}</h6>
              <p class="product-price fs-5 mb-1"><span>statut du projet : {{projet.statut}} </span></p>
              <div class="rating mb-0">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
              </div>
              Keys words : {{projet.mots_cles}}
              <small>74 Reviews</small>
              <div class="actions d-flex align-items-center justify-content-center gap-2 mt-3">
                <a onclick="projet_update(this)" data-url="{% url 'projet_update' pk=projet.pk %}" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-fill"></i> Edit</a>
                <a onclick="projet_delete(this)" data-url="{% url 'projet_delete' pk=projet.pk %}" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash-fill"></i> Delete</a>
              </div>
            </div>
          </div>
        </div>
      {%endfor%}
      </div><!--end row-->
    </div>
    <nav class="float-end mt-4" aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>

  </div>
</div>
{% endblock %}

{% block custom_javascript %} 

<script>

  function projet_update(event, id, url){
    Notification.talk('success', 'Voulez vous vraiment modifiez?')

  }

  function projet_delete(event, id, url){
    $(event).parents('.projet').remove();
      Notification.ask('warning', 'Suppression en cours...', 'Voulez vous vraiment supprimer ce projet?', function () {
        Request.post("{% url 'selection_algorithme' %}", {	'algo' : $('#select-algorithme').select2('val'), 'tache': $('#select-tache').val(), 'metrique': $('#select-metrique').val() }, function (data){
          Notification.talk('success', data.transaction.message)
        })
      }, function () {
        
      })
        

    Notification.talk('success', 'Voulez vous vraiment supprimer?')

  }

</script>

{% endblock %}