{% load static %}
<script>
	let csvButtonTrans = 'CSV'
	let excelButtonTrans = 'EXCEL'
	let copyButtonTrans = 'Copier'
	let colvisButtonTrans = 'Choix des variables'
</script>

<script type="text/javascript">


	jQuery(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
	
		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

	window.CSRF_TOKEN = "{{ csrf_token }}";


	class Notification{
		static allo(title, body){
		  Swal.fire(
			{icon: 'success',
			title: title,
			text: body,}
		  )
		}

		static success(title, body){
		  Swal.fire(
			{icon: 'success',
			title: title,
			text: body,}
		  )
		}
		atop(title, body){
		  Swal.fire(
			{icon: 'success',
			title: title,
			text: body,}
		  )
		}
	
		static error(title, body){
		  Swal.fire({
			icon: 'error',
			title: title,
			text: body,
		  })
		}
		{% comment %} https://code.tutsplus.com/tutorials/creating-pretty-popup-messages-using-sweetalert2--cms-30662 {% endcomment %}
		static talk(type='success', body, position='bottom-right') {// 'success', 'info', 'warning', 'default', 'error'
			const Toast = Swal.mixin({
				toast: true,
				position: 'top-end',
				showConfirmButton: false,
				timer: 4300,
				timerProgressBar: true,
				didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
				}
			})
			
			Toast.fire({
				icon: type,
				title: body
			})
		}
		static sms(type='success', body, position='bottom-right') {// 'success', 'info', 'warning', 'default', 'error'
			const Toast = Swal.mixin({
				toast: true,
				position: 'top-end',
				showConfirmButton: false,
				timer: 4300,
				timerProgressBar: true,
				didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
				}
			})
			
			Toast.fire({
				position: position,
				icon: type,
				title: body
			})
		}
	
		static alert(type='success', title, body){
			Swal.fire(
			  {icon: type,
			  title: title,
			  text: body,}
			)
		}
		  
	}
	
</script>