<form method="post" action="{% url 'compagnie_update' form.instance.pk %}" class="js-compagnie-update-form">
  {% csrf_token %}
  <div class="modal-header">
      <h5 class="modal-title">Mise à jour de la tache de ML</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
    {% include 'partials/compagnie/form_body.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
  </div>
</form>